In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import sklearn as sk 
import sqlalchemy
import seaborn as sns
import urllib2
from bs4 import BeautifulSoup
import requests
import zipfile
from StringIO import StringIO
import gzip

%matplotlib inline

In [2]:
engine = sqlalchemy.create_engine('postgresql://alexandertam@localhost/postgres')

#engine = sqlalchemy.create_engine("postgresql://overlord:Tamtyacm205Overlord@darkmatter.cyrl8cvgtnrm.us-west-2.rds.amazonaws.com:5432/darkmatter")

In [3]:
def GetFile(filename):
    baseURL = "http://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/"

    response = urllib2.urlopen(baseURL + filename)
    compressedFile = StringIO()
    compressedFile.write(response.read())
    #
    # Set the file's current position to the beginning
    # of the file so that gzip.GzipFile can read
    # its contents from the top.
    #
    compressedFile.seek(0)

    decompressedFile = gzip.GzipFile(fileobj=compressedFile, mode='rb')

    return decompressedFile

In [4]:
#pd.read_csv(GetFile("StormEvents_details-ftp_v1.0_d2014_c20160617.csv.gz")).head()

In [5]:
def GetFileList():
    weatherDataUrl = "http://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/"
    soup = BeautifulSoup(requests.get(weatherDataUrl).text, "lxml")
    fileList = []
    for a in soup.find_all('a'):
            if "StormEvents" in a["href"]:
                fileList.append(a["href"])
    return fileList

In [6]:
fileTypes = ["details","locations","fatalities"]
years = range(2015,2016)
years = map(str,years)
detailsDF = pd.DataFrame()
locationsDF = pd.DataFrame()
fatalitiesDF = pd.DataFrame()

In [7]:
def GetFile_Convert_Append(filename,df):
    csvFile = GetFile(filename)
    csv = pd.read_csv(csvFile)
    csv.columns = map(str.lower,csv.columns)
    #csv.to_sql("details",con = engine, if_exists = "replace", chunksize=500)
    df = df.append(csv)
    return df

In [8]:
for filename in GetFileList():
    if any(year in filename for year in years):
        if("details" in filename):
            detailsDF = GetFile_Convert_Append(filename,detailsDF)
            continue
        if("fatalities" in filename):
            fatalitiesDF = GetFile_Convert_Append(filename,fatalitiesDF)
            continue
        if("locations" in filename):
            locationsDF = GetFile_Convert_Append(filename,locationsDF)
            continue

In [9]:
TornadoesDF = detailsDF[detailsDF["event_type"]=="Tornado"]
TornadoesDF.head()

,begin_yearmonth,begin_day,begin_time,end_yearmonth,end_day,end_time,episode_id,event_id,state,state_fips,...,end_range,end_azimuth,end_location,begin_lat,begin_lon,end_lat,end_lon,episode_narrative,event_narrative,data_source
161,201512,26,1403,201512,26,1407,101364,606454,TEXAS,48,...,4.0,ESE,WALLING,31.8900,-96.8100,31.9300,-96.8100,A potent storm system brought deadly tornadoes...,The Hubbard Volunteer Fire Department observed...,CSV
162,201512,26,1444,201512,26,1446,101364,606455,TEXAS,48,...,3.0,N,EUSTACE,32.3300,-95.9900,32.3400,-95.9800,A potent storm system brought deadly tornadoes...,Trained spotters observed and photographed a b...,CSV
190,201506,20,1818,201506,20,1824,97327,590313,IOWA,19,...,3.0,SW,NEW LONDON,40.9177,-91.4800,40.8879,-91.4284,Widespread severe thunderstorms from the late ...,An NWS Storm Survey found a tornado touched do...,CSV
1041,201506,5,1554,201506,5,1601,95338,572889,COLORADO,8,...,1.0,NE,ARICKAREE,39.6900,-103.0600,39.6900,-103.0600,Severe thunderstorms broke out across the nort...,A large cone tornado touched down in open coun...,CSV
1938,201504,19,1635,201504,19,1640,95435,573387,ARKANSAS,5,...,3.0,SSE,CYPRESS VALLEY,35.2244,-92.6929,35.2336,-92.6191,A storm system aloft moved toward the region f...,The tornado touched down on the east side of A...,CSV

In [226]:
#detailsDF.to_sql("details",con = engine, if_exists = "replace")

In [227]:
#locationsDF.to_sql("locations",con = engine, if_exists = "replace")

In [228]:
#fatalitiesDF.to_sql("fatalities",con = engine, if_exists = "replace")

In [10]:
AlabamaDF = detailsDF[detailsDF["state"] ==  "ALABAMA"]
AlabamaDF.shape

(892, 51)

In [11]:
AlabamaDF = AlabamaDF[AlabamaDF["wfo"] != "TAE"]
AlabamaDF.shape

(722, 51)

In [12]:
AlabamaDF[AlabamaDF["event_type"] ==  "Tornado"].shape

(30, 51)

In [13]:
AlabamaDF.to_sql("alabama",con = engine, if_exists = "replace")